# IDEs
.idea/
.vscode/

# Client
client/.dart_tool
client/.packages
client/.pub/
client/build/
client/pubspec.lock
client/doc/api/
client/test/**/*.g.dart

# Server
go.sum
db/*
kadvisor
.env
__debug_bin